<h3 class="game">Game</h3>
<%= link_to "Talk to the web", talk_path %>
<%= link_to "Change Background ", change_background_color_path %>
<%= link_to "Adventure Story", adventure_path %><br>
<%= link_to "Jokes", jokes_path %>
