
<div class="top-page"></div>

  <div class="top-page"></div>
    <div class="col-md-2 well" >
      <%= render partial: "profile" %>
  </div>



<div class="col-md-7 well">
   <h1>What's your favorite color?</h1>
      <p id="red-border">Click a button to choose what color you'd like this page to be or <span class="clickable border">click here</span> for magic</p>

      <button class="btn btn-success" id="background-green">Green</button>
      <button class="btn btn-warning" id="background-yellow">Yellow</button>
      <button class="btn btn-danger" id="background-red">Red</button>
      <button class="btn btn-primary" id="original">Original Background</button>

</div>




<div class="col-md-2 well game">
  <%= render partial: "game" %>
</div>
