
<div class="top-page"></div>

  <div class="top-page"></div>
    <div class="col-md-2 well" >
      <%= render partial: "profile" %>
  </div>



<div class="col-md-7 well">

  <h2>Click on button to select the subject</h2>
  <button class="btn btn-success" id="marriage-button">marriage</button>
  <button class="btn btn-warning" id="college-button">college</button>
  <button class="btn btn-danger" id="parent-button">parent</button>
  <button class="btn btn-primary" id="cop-button">cop</button>


   <div id="marriage">

    <h3>marriage</h3>
    <p>Husband takes the wife to a disco. There’s a guy on the dance floor giving it large – break dancing, moonwalking, back flips, the works. The wife turns to her husband and says: "See that guy? 25 years ago he proposed to me and I turned him down." Husband says: "Looks like he’s still fucking celebrating!!"</p>
    </div>

  <div id="college">
    <h3>College</h3>
    <p>Mother: Come on victor you'll be late for school.</p>
    <p>John: Ahh mum do I have to, all the teachers hate me, and all the students hate me too.</p>
    <p>Mother: Yes you do.</p>
    <p>John: Give me a good reason</p>
    <p>Mother: You're 34 and you’re the Principal!</p>
      </div>

      <div id="parent">
        <h3>Parent</h3>
       <p>A: Just look at that young person with the short hair and blue jeans. Is it a boy or a girl?</p>
    <p>B: It's a girl. She's my daughter. </p>
    <p>A: Oh, I'm sorry, sir. I didn't know that you were her father. </p>
    <p>B: I'm not. I'm her mother.</p>
    </div>

    <div id="cop">
      <h3>Cop</h3>
      <p>A male driver is pulled over by a cop and the following conversation takes place</p>
      <p>Man: What's the problem officer?</p>
      <p> Cop: You were going at least 75 in a 55 zone.</p>
      <p>Man: No sir, I was going 65.</p>
      <p>  Wife: Oh Harry. You were going 80. (Man gives his wife a dirty look.) </p>
      <p> Cop: I'm also going to give you a ticket for your broken tail light.</p>
      <p> Man: Broken tail light? I didn't know about a broken tail light!</p>
      <p>  Wife: Oh Harry, you've known about that tail light for weeks.  (Man gives his wife a dirty look.) </p>
      <p> Cop: I'm also going to give you a citation for not wearing your seat belt.</p>
      <p>  Man: Oh, I just took it off when you were walking up to the car.</p>
      <p>  Wife: Oh Harry, you never wear your seat belt.</p>
      <p>  Man: Shut your mouth, woman! </p>
      <p> Cop: Ma'am, does your husband always talk to you this way?</p>
      <p>  Wife: No, only when he's drunk.</p>
    </div>


</div>




<div class="col-md-2 well game">
  <%= render partial: "game" %>
</div>
