<h1>Listings recently tweets of all user</h1>

<% @posts.each do |post| %>
  <% @users.each do |user| %>
    <% if post.user_id == user.id %>
      <%= link_to user.username, posts_show_path(user_id: post.user_id) %>
        <ul>
          <li>
            <%= post.tweet %>
          </li>
        </ul>
    <%end%>
  <%end%>
<%end%>
