<h1>Listind of all active user</h1>







<% User.all.each do |user| %>
  <%Post.all.each do |post| %>

    <% if post.user_id == user.id %>
      <%= link_to user.username, public_info_path(user_id: user.id) %>
        <ul>
          <li>
            <%= post.tweet %>
          </li>
        </ul>
    <%end%>
  <%end%>
<%end%>
