
<div class="top-page"></div>
  <div class="col-md-2 well" >
    <%= render partial: "profile" %>
</div>


<div class="col-md-7 well">
    <h3>Talk to the web.</h3>
    <button type="button" class="btn btn-primary" id="hello">Say hello</button>
    <button type="button" class="btn btn-info" id="goodbye">Say GoodBye</button>
    <button type="button" class="btn btn-danger" id="stop">Say "Stop Copying Me"</button>

    <div class="row">
      <div class="row">
        <div class="col-md-5">
          <h4>You said</h4>
            <ul class="unstyled" id="user">
            </ul>
        </div>

        <div class="col-md-5 game">
          <h4>The web said</h4>
            <ul class="unstyled" id="webpage">
            </ul>
        </div>

      </div>
    </div>
</div>


<div class="col-md-2 well game">
  <%= render partial: "game" %>


  </div>
