<h1> Welcome to page of: <%= @current_user.username.capitalize %></h1>
<% @posts.each do |post| %>
  <% if post.user_id == @current_user.id %>
    <ul>
      <li><%= post.tweet %> create_at <%= post.create_at %></li>
    </ul>
  <%end%>
<%end%>

<form_for
