.top-page {margin-bottom: 1em;}

body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA55SM8GnmOI_uCguRPhT9e_QB-796bX6yVXpSW8T9rDe31ckQ") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
 }

.username {text-align: center;}

.nav {
  color: black;
  text-align: center;
  background: rgb(221, 235, 245);
  padding: 1em;


}

a {
color: #EC0E30;
text-decoration: none;
padding-left: 1em;
}

.pic {width: 120px; height: 120px; border-radius: 70px;}
.public-image {width: 60px; height: 60px; border-radius: 30px;}

.public {
  background: white;
  width: 1100px;
  margin: 0 auto;
  }

.sign-in {text-align: center;}

.friend-page {
  background: white;
  width: 1100px;
  margin: 0 auto;
  }

.col-md-7 {
  margin-left: 1em;
  margin-right: 4em;

}

.game {padding-right: 1em;}
.well {
  padding: 2em;
}

.last-collumn {width: 6em;}

.col-md-2 {
 text-align: center;

 .game {
  padding-top: -1em; }
  }













.clickable {
  color: #0088cc;;
  cursor: pointer;
  }

.clickable:hover {text-decoration: underline}
















/*CSS for games*/

.green-background {
  background: green;
}


.yellow-background {
  background: yellow;
}


.red-background {
  background: red;
}

.blue-text {color: blue;}
.red-text {color: red;}
.green-text {color: green;}
.original-body {body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA55SM8GnmOI_uCguRPhT9e_QB-796bX6yVXpSW8T9rDe31ckQ") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
 }}

.clickable {
  color: blue;
  cusor: pointer;
}

.clickable {text-decoration: underline}
.red-border {
  background: yellow;
  border: 2px solid red
  }

#marriage, #college, #parent, #cop {display: none;}
